.recipeTile {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.divider {
  height: 1px;
  margin: 10px 0;
  background-color: lightgray;
}

.recipeTile {
  text-decoration: none;
  color: black;
}
